<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<h1>Добро пожаловать в RentalApp!</h1>
<br/>
<body>
<form method="post" th:action="@{/logout}">
    <button class="violet-button-big" type="submit">LOGOUT</button>
</form>

<div class="button-container-1">
    <a class="blue-button-big" th:href="@{/addresses}">Список адресов</a>
    <a class="blue-button-big" th:href="@{/apartments}">Список квартир</a>
    <a class="blue-button-big" th:href="@{/landlords}">Список арендодателей</a>
</div>
</body>
</html>