<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<h1>Address List</h1>

<div class="filter-container">
    <form th:action="@{addresses}" method="get">
<!--        <div class="filter-item">-->
            <label for="city">City</label>
            <input type="text" id="city" name="city" th:value="${addressFilter.city}" placeholder="Enter city">
<!--        </div>-->
<!--        <div class="filter-item">-->
            <label for="street">Street</label>
            <input type="text" id="street" name="street" th:value="${addressFilter.street}" placeholder="Enter street">
<!--        </div>-->
<!--        <div class="filter-item">-->
            <button type="submit" class="pagination-button">Filter</button>
<!--        </div>-->
    </form>
</div>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Street</th>
        <th>House Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses.content}">
        <td th:text="${address.id}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.houseNumber}"></td>
        <td>
            <div class="button-container-2">
            <a class="update-button" th:href="@{/addresses/edit/{id}(id=${address.id})}">Edit</a>
            <a class="delete-button" th:href="@{/addresses/delete/{id}(id=${address.id})}">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="button-container-1">
    <a class="save-link-button" th:href="@{addresses/save}">Add New Address</a>
    <a class="apartments-list-link-button" th:href="@{/apartments}">Apartments List</a>
    <a class="main-link-button" th:href="@{/}">Main Page</a>
</div>

<div class="pagination-container">
        <form th:action="@{/addresses}" method="get" th:if="${addresses.hasPrevious()}">
            <input type="hidden" th:name="city" th:value="${addressFilter.city}">
            <input type="hidden" th:name="street" th:value="${addressFilter.street}">
            <input type="hidden" th:name="pageNumber" th:value="${addresses.number}">
            <button type="submit" class="pagination-button">Previous</button>
        </form>
        <form th:action="@{/addresses}" method="get" th:if="${addresses.hasNext()}">
            <input type="hidden" th:name="city" th:value="${addressFilter.city}">
            <input type="hidden" th:name="street" th:value="${addressFilter.street}">
            <input type="hidden" th:name="pageNumber" th:value="${addresses.number + 2}">
            <button type="submit" class="pagination-button">Next</button>
        </form>
</div>

<div>
    <form th:action="@{/addresses}" method="get">
        <label for="pageNumber">Go to page:</label>
        <input type="number" id="pageNumber" name="pageNumber" th:value="${addresses.number + 1}">
        <input type="hidden" th:name="city" th:value="${addressFilter.city}">
        <input type="hidden" th:name="street" th:value="${addressFilter.street}">
        <button type="submit" class="pagination-button">Go</button>
    </form>
</div>

<div>
    <span>Page [[${addresses.number + 1}]] of [[${addresses.totalPages}]]</span>
</div>
</body>
</html>