<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Address List</h1>

<form th:action="@{addresses}" method="get">
    <label for="city">City</label>
    <input type="text" id="city" name="city" th:value="${addressFilter.getCity()}" placeholder="Enter city">
    <label for="street">Street</label>
    <input type="text" id="street" name="street" th:value="${addressFilter.getStreet()}" placeholder="Enter street">
    <button type="submit">Filter</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Street</th>
        <th>House Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses.content}">
        <td th:text="${address.id}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.houseNumber}"></td>
        <td>
            <a th:href="@{/addresses/edit/{id}(id=${address.id})}">Edit</a>
            <a th:href="@{/addresses/delete/{id}(id=${address.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
        <span th:if="${addresses.hasPrevious()}">
        <a th:href="@{/addresses(city=${addressFilter.city != null ? addressFilter.city : ''},
        street=${addressFilter.street != null ? addressFilter.street : ''},
        page=${addresses.number - 1}, size=${addresses.size})}">Previous</a>
    </span>
    <span th:if="${addresses.hasNext()}">
        <a th:href="@{/addresses(city=${addressFilter.city != null ? addressFilter.city : ''},
        street=${addressFilter.street != null ? addressFilter.street : ''},
        page=${addresses.number + 1}, size=${addresses.size})}">Next</a>
    </span>
<!--    <span th:if="${addresses.hasPrevious()}">
            <a th:href="@{/addresses(city=${addressFilter.city}, street=${addressFilter.street},
            page=${addresses.number - 1}, size=${addresses.size})}">Previous</a>
    </span>
    <span th:if="${addresses.hasNext()}">
            <a th:href="@{/addresses(city=${addressFilter.city}, street=${addressFilter.street},
            page=${addresses.number + 1}, size=${addresses.size})}">Next</a>
    </span>-->
</div>

<div>
    <span>Page [[${addresses.number + 1}]] of [[${addresses.totalPages}]]</span>
</div>
<a th:href="@{addresses/save}">Add New Address</a>
</body>
</html>