<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Address List</h1>

<form th:action="@{addresses}" method="get">
    <label for="city">City</label>
    <input type="text" id="city" name="city" th:value="${addressFilter.city}" placeholder="Enter city">
    <label for="street">Street</label>
    <input type="text" id="street" name="street" th:value="${addressFilter.street}" placeholder="Enter street">
    <button type="submit">Filter</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Street</th>
        <th>House Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${addresses.content}">
        <td th:text="${address.id}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.houseNumber}"></td>
        <td>
            <a th:href="@{/addresses/edit/{id}(id=${address.id})}">Edit</a>
            <a th:href="@{/addresses/delete/{id}(id=${address.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <div th:if="${addresses.hasPrevious()}">
        <form th:action="@{/addresses}" method="get">
            <input type="hidden" th:name="city" th:value="${city}">
            <input type="hidden" th:name="street" th:value="${street}">
            <input type="hidden" th:name="pageNumber" th:value="${addresses.number - 1}">
            <button type="submit">Previous</button>
        </form>
    </div>
    <div th:if="${addresses.hasNext()}">
        <form th:action="@{/addresses}" method="get">
            <input type="hidden" th:name="city" th:value="${city}">
            <input type="hidden" th:name="street" th:value="${street}">
            <input type="hidden" th:name="pageNumber" th:value="${addresses.number + 1}">
            <button type="submit">Next</button>
        </form>
    </div>
</div>

<div>
    <span>Page [[${addresses.number + 1}]] of [[${addresses.totalPages}]]</span>
</div>
<a th:href="@{addresses/save}">Add New Address</a>
</body>
</html>